body{
    background-color:rgb(245, 242, 238);
}
/* #book{
    /* background-image: url("images/medcover.jpeg"); 
} */
/* .navbar-nav{
    color: black;
    margin-left: 400px;
    justify-content: space-around;
}
.nav-link{
    margin-left: 30px;
}
.nav-link:hover{
    text-decoration: underline;

}
.navbar{
    background-color: skyblue;
} */
* {
    box-sizing:border-box;
    margin: 0%;
    padding: 0%;
    
}
header{
    /* background-image: url(img/backgrnd2.jpeg); */
    background-size:cover;
    background-position: center center;
    height: 5vh;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    background-color:lightblue;
    display: flex;
    justify-content: space-between;
    height: 99px;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
a{
    text-decoration: none;
}
header li{
    display: inline-block;
    align-items: inline;
    padding-top: 4.5vh;
    padding-bottom: 3rem;
    padding-left: 10rem;
    /* list-style: 20rem; */

}
.logo{
    cursor: pointer;

}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0% 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: .3s;
    color: #fff;
    
}
.nav-area li a:hover{
    color:#d22938
}
.btn-area{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #d22938;


}
.navbar{
    display: flex;

}
p, h3, h5{
    text-align: center;
    margin: 20px;
}
.button, .check{
    margin-left: 450px;
    margin-top: 10px;
    border-radius: 50px 50px 50px 50px;
    width: 100px;
}
.check{
    display: none;
}
.row{
    margin: 20px;
}
.myForm{
    margin: 10px;
    display: none;
}
.show{
    display: none;
    height: 200px;
    color: steelblue;
    font-size: large;
    font-weight: bold;
}
label{
    font-size: large;
    font-weight: bold;
}
/* #p, #p1{
   display: none;
} */
.footer{
    text-align: center;
    background-color: skyblue;
}